

table {
  
 
  top: 0; /* position table to the top */
  
  position: relative;
  left:5%;

  height: 99%; /* set height to 100% */
  width: 90%;

  table-layout: fixed; /* sets the table layout algorithm to fixed */
  border-collapse: collapse; /* collapses the table's borders */

  
}

td {
 
  height: 110px; /* set height to 100% */
  width: 100px;
  
overflow: hidden;
text-align: center;
border: 2px solid lightgrey;
padding: 0;

}



thead tr:nth-of-type(1) {
  
  
  line-height: 1.7;

  text-align: center;
  font-family: Garamond;
  
  font-size:40px;

  color: 	#282828
  
}



thead tr:nth-of-type(2) {
  padding: 0;
  
  line-height: 2;

  height:1px;
  text-align: center;
  font-family: Garamond; 

  font-size:20px;
  border: none;
 
  color: grey;

}













